<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>napisz do mnie</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form  action="//formspree.io/you@email.com" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>imie</label>
							<input type="text" name="imie" class="form-control" placeholder="imie" id="imie" required data-validation-required-message="powiedz mi jak sie nazywasz">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>adres e-mail</label>
							<input type="email" name="_replyto" class="form-control" placeholder="adres e-mail" id="email" required data-validation-required-message="wpisz swoj adres e-mail">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="New submission!">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>wiadomosc</label>
							<textarea rows="5" name="wiadomosc" class="form-control" placeholder="wiadomosc" id="wiadomosc" required data-validation-required-message="zostaw wiadomosc"></textarea>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-success btn-lg">wyslij</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
